body {
  background-color: #f8f8f8;
  font-family: "Source Code Pro", monospace;
}

h1 {
  color: #a64452;
  font-family: "Source Sans 3", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: #a64452;
  font-family: "Source Sans 3", sans-serif;
  font-style: italic;
  text-align: center;
}

img {
  width: 200px;
}

a {
  color: #a64452;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  font-weight: 600;
}

form {
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 30px;
  padding: 30px;
  text-align: center;
}

footer {
  color: #434343;
  font-family: "Source Sans 3", sans-serif;
  text-align: center;
}

.container {
  margin: 50px auto;
  max-width: 60%;
}

.poem-container {
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #434343;
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  line-height: 1.5;
  margin-bottom: 30px;
  padding: 10px;
}

.hidden {
  display: none;
}

.note {
  color: #434343;
  font-family: "Source Sans 3", sans-serif;
  font-size: 13px;
  font-style: italic;
  margin-top: 10px;
}

.waiting {
  animation: blinker 1500ms linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#present {
  border-radius: 30px;
  color: #434343;
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  width: 60%;
}

#poem strong {
  color: #a64452;
}

#submit-button {
  background-color: #a64452;
  border: 1px solid #a64452;
  border-radius: 20px;
  color: white;
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  transition: all 150ms ease-in-out;
}

#submit-button:hover {
  background-color: white;
  color: #a64452;
  cursor: pointer;
}
